<div class="container">
  <div class="row">
    <div class="col-sm">
      logo
    </div>
    <div class="col-sm">
      Temas
      Test
      Activdades
    </div>
    <div class="col-sm">
      Sign in
    </div>
  </div>
</div>
