<div class="container">
  <div class="row align-items-center container-template">
    <div class="col-10 text-center">
      <%= form_tag("/lessons/#{@test.lesson_id}/tests/#{@test.id}/compare" ) do %>
                  <% @test.questions.each do |question| %>
                        <div class="form-group">
                            <%= label_tag "#{question.question}" %>
                            <input type="text_field" name="answers[<%=question.id    %>]">
                        </div>
                  <%end %>
        <%= submit_tag 'send' %>
      <% end %>
    </div>
  </div>
</div>
